header {
  display: flex;
  margin-bottom: 20px;
}

header > div {
  margin-right: 20px;
}

header label {
  display: block;
}

header p {
  margin-bottom: 0;
}

table,
table th,
table td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px 30px;
}
