<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-primary">Sandbox</h1>
    </div>
  </div>
  <!-- <app-json-placeholder-api-users></app-json-placeholder-api-users> -->
  <!-- <app-color-changer></app-color-changer> -->
  <!-- <app-hover-effect></app-hover-effect> -->
  <!-- <app-fancy-tabs></app-fancy-tabs> -->
  <!-- <app-rxjs-higher-order-mapping-operators></app-rxjs-higher-order-mapping-operators> -->
  <!-- <app-rxjs-of></app-rxjs-of> -->
  <!-- <app-rxjs-scan-operator></app-rxjs-scan-operator> -->
  <!-- <app-rxjs-search></app-rxjs-search> -->
  <!-- <app-rxjs-search-bis></app-rxjs-search-bis> -->
  <!-- <app-reactive-form-exercice></app-reactive-form-exercice> -->
  <!-- <app-amundi-calculator></app-amundi-calculator> -->
  <app-table-filter></app-table-filter>
</div>
